{{#each episode}}
    <div class="episode" data-episode-id="{{ID}}">
        <a href="/watch?&id={{ID}}&autoStart=true" >
            <div class="image">
                    {{#if imgLink}}
                        <img src="{{imgLink}}" alt="{{series}}: {{title}}">
                    {{else}}
                        <p>{{series}}: {{title}}</p>
                    {{/if}}
            </div>
        </a>
        <div>
            <strong>{{title}}</strong>
            <div>
                <div>Season: {{season}}</div>
                <div>Episode: {{number}}</div>
            </div>
            {{#if airDate}}
                <div class="air-date">Air Date: {{airDate}}</div>
            {{/if}}
            <a href="/edit-episode?id={{ID}}">Edit Data</a>
            <div></div>

            {{#if rating}}
                <p>Rating: {{rating}} ({{raters}})</p>
            {{/if}}
            {{#if description}}
                <p>{{description}}</p>
            {{/if}}
        </div>

    </div>
{{/each}}